/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/


:root {
  --green: #A8E384;
  --blue: #e78c5a;
  --radial: radial-gradient(rgba(255, 88, 191, 0.595), rgb(115,175,247, 0.0) 70%);
  /*74B0F7 #e78c5a
  radial-gradient(rgba(190, 115, 247, 0.5), rgb(115,175,247, 0.0) 70%)*/
}

html {
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
  max-width: 100%;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: white;
  background-color: #040412;
  max-height: 800px;
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
  
}

.site-wrapper {
  max-width: 100% !important;
}

a {
  color: #B0FCCE;
  text-decoration: none;
}

a:hover {
  color: #49c67b;
  text-decoration: none;
}


h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Mono", sans-serif;
  color: #B0FCCE;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/




.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--blue);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #011426;
  line-height: 0;
}

.back-to-top:hover {
  background: white;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 991px) {
  #bootstrap-overrides .back-to-top {
    visibility: hidden;
  }

  .gradient-background {
    visibility: hidden;
  }

  #bootstrap-overrides body {
    overflow-x: hidden;
    max-width: 100%;
  }

  .particles-js {
    overflow: hidden;
    width: 100vh;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid white;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  #bootstrap-overrides [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
  font-family: "Roboto Mono", sans-serif;
  height: fit-content;
}

#header h3 {
  font-size: 25px;
}

@media (max-width: 991px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 991px) {
  #main {
    margin-left: 50px;
    margin-right: 50px;
  }

}

.logo h1 {
  font-size: 1px;
}

#header.header-scrolled {
  background: #040412;
  padding: 8px 0;
  height: fit-content;
  filter: drop-shadow(0px 6px 6.3px rgba(0, 0, 0, 0.25));
}

#header a {
  color: white;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  /* background: url("../img/Artboard\ 1.png") top right no-repeat; */
  background-size: cover;
  position: relative;
}

@media (min-width: 992px) {
  #hero {
    padding-left: 160px;
    padding-right: 160px;
  }
}

#hero:before {
  content: "";
  background: rgba(255, 255, 255, 0);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: 0;
  font-size: 4.5rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: normal;
}

#hero h1 span {
  display: inline-block;
  position: relative;
}

#hero h1 span::after {
  content: '';
  position: absolute;
  bottom: 0.2rem;
  left: -1%;
  height: 1.4rem;
  width: 102%;
  background: var(--blue);
  z-index: -1;
  transition: 0.2s;
}


#hero h2 {
  margin: 0 0 30px 0;
  color: #B0FCCE;
}

#hero p {
  margin: 30px 0 0 0;
  font-size: 24px;
}

#hero .typed {
  font-size: 2.5rem;
  font-family: "Roboto Mono", sans-serif;
  color: white;
}

#hero p span {
  color: white;
  letter-spacing: 1px;
}

#hero .social-links {
  margin-top: 30px;
}

#hero .social-links a {
  font-size: 24px;
  display: inline-block;
  color: #45505b;
  line-height: 1;
  margin-right: 20px;
  transition: 0.3s;
}

#hero .social-links a:hover {
  color: #B0FCCE;
}

@media (max-width: 992px) {
  #hero {
    text-align: center;
  }

  #hero h1 {
    font-size: 3rem;
    line-height: 36px;
  }

  #hero p {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }

}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #B0FCCE;
}


.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh;
  padding: 0;
  padding-bottom: 10%;
  margin: 0;
  text-align: center; /* Optionally, if you want to center text inside */
  
}

.skills p {
  font-family: "Roboto Mono";
  font-size: 24px;
  padding: 0% 20% -10% 20%;
}

.skills .skill-list {
  display: flex;
  justify-content: center;
  
}

@media (max-width: 992px) {
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    row-gap: 1em;
  }
}



/* Customizing tooltip appearance */
.tooltip-inner {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  border-radius: 4px; /* Border radius */
  padding: 5px 10px; /* Padding */
  font-size: 14px; /* Font size */
  font-family: "Lato", sans-serif;
}

.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^="top"] .tooltip-arrow::before {
border-top-color: #333;
}


.image-container {
  width: 100px;
  height: 100px;
  margin: 0 10px 0 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color:  rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 8px rgba(0,0,0, 0.5);
  overflow: hidden;
}

.image-container::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 75px);
  left: calc(var(--x, 0) * 1px - 75px);
  width: 150px;
  height: 150px;
  background: var(--radial);
  opacity: 0;
  transition: opacity 0.5s;
  filter: grayscale(0%);
  z-index: 3;
}

.image-container:hover::after {
  opacity: 0.4;
  filter: grayscale(0%);
  z-index: -1;
}

.skill-list img {
  width: 100px;
  height: 100px;
  filter: grayscale(100%);
  padding: 20px;
  z-index: 4;
  
}

.skill-list img:hover {
  filter: grayscale(0%);
  
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio-item {
  width: 98%;
  margin-left: 1%;
  display: flex;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background:  rgba(255, 255, 255, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  overflow: hidden;
  transition: 0.5s;
  
}

@media (max-width: 992px) {
  #bootstrap-overrides .portfolio-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center !important;
  }

  .portfolio-info {
    text-align: center !important;
    justify-content: center;
    align-items: center !important;
  }

   .portfolio-image {
    padding: 0;
    margin: 0;
    align-items: center !important;

  }
}

.portfolio-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.portfolio-item h4 {
  font-size: 40px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.portfolio-item::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 450px);
  left: calc(var(--x, 0) * 1px - 450px);
  width: 900px;
  height: 900px;
  background: var(--radial);
  opacity: 0;
  transition: opacity 0.5s;
}

.portfolio-item:hover::after {
  opacity: 0.4;
  z-index: -1;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  border-radius: 50px;
  padding: 2px 15px;
  text-align: left;
  
}

.portfolio-image {
  max-width: 400px;
  max-height: 300px;
  z-index: 5;
  padding-left: 40px;
  padding-right: 40px;
  object-fit: contain;
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: space-between;
  padding-bottom: 0.7em;
  
}

.portfolio-learn-more {
  background: white;
  color: #040412;
  border-radius: 20px;
  padding: 0.5em 1em;
  transition: 0.2s;
}

.portfolio-learn-more:hover {
  background: var(--blue);
  color: black;
  border-radius: 20px;
  padding: 0.6em 1.1em;
  transition: 0.2s;
}

.portfolio-visit-site {
  background: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 20px;
  padding: 0.4em 0.9em;
  transition: 0.2s;
}

.portfolio-visit-site:hover {
  background: var(--blue);
  color: black;
  border: none;
  border-radius: 20px;
  padding: 0.6em 1.1em;
  transition: 0.2s;
}


.portfolio-go-back {
  background: transparent;
  color: white;
  border: solid 1px white;
  border-radius: 20px;
  padding: 0.4em 0.9em;
  transition: 0.2s;
  margin-bottom: 1.1em;
}

.portfolio-go-back:hover {
  background: var(--blue);
  color: black;
  border: none;
  border-radius: 20px;
  padding: 0.6em 1.1em;
  transition: 0.2s;
  margin-bottom: .7em;
}

#portfolio ul {
  text-align: left;
  justify-content: start;
  width: 100%;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border: white 1px;
  border-style: solid;
  border-radius: 50px;
  transition: 0.2s;
  
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background-color: var(--blue);
  border-style: solid;
  border-radius: 50px;
  border: none;
  padding: 12px 17px;
  color: #040412;
  transition: 0.2s;

}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(69, 80, 91, 0.8);
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #121329;
  border-left: 3px solid #121329;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #d7dce1;
  border-right: 3px solid #d7dce1;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #45505b;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #45505b;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {

  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #45505b;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
  
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #040412;
}

@media (max-width: 992px) {
  .portfolio-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    row-gap: 1em;
    width: fit-content;
    column-gap: 1em;
  }
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

.portfolio h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: normal;
  color: white;
  text-align: left;
}

.portfolio h2 span {
  display: inline-block;
  position: relative;
}

.portfolio h2 span::after {
  content: '';
  position: absolute;
  bottom: -3%;
  left: -3%;
  height: 1rem;
  width: 112%;
  background: var(--blue);
  z-index: -1;
  transition: 0.2s;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  margin-top: 8em;
  padding-left: 10%;
  padding-right: 10%;
}

.portfolio-details h2{
  color: white;
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  overflow: auto;
}

.portfolio-details h2 span {
  display: inline-block;
  position: relative;
}

.portfolio-details h2 span::after {
  content: '';
  position: absolute;
  bottom: -3%;
  left: -1%;
  height: 1.4rem;
  width: 102%;
  background: var(--blue);
  z-index: -1;
  transition: 0.2s;
}

.portfolio-details h5 {
  color: white;
  font-weight: bold;
}

.portfolio-extra-info {
  border-radius: 40px;
  backdrop-filter: blur(2px) saturate(180%);
  -webkit-backdrop-filter: blur(2px) saturate(180%);
  background-color:  rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 4px 4px 8px rgba(0,0,0, 0.5);
  overflow: hidden;
  margin: 0 10px 0 10px;
  width: fit-content;
  padding: 15px;
  z-index: 5;
}

.portfolio-extra-info::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 75px);
  left: calc(var(--x, 0) * 1px - 75px);
  width: 150px;
  height: 150px;
  background: var(--radial);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 3;
}

.portfolio-extra-info:hover::after {
  opacity: 0.4;
  z-index: -1;
}

.portfolio-details h3 {
  color: white;
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 3em;
}

.portfolio-details h4 {
  color: var(--blue);
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.portfolio-details p {
  margin: 0;
  padding-bottom: 2em;
}

.portfolio-details-container img {
  width: 100%;
}

figcaption {
  padding-bottom: 10%;
}

.finalproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
  height: 90vh;
  padding-top: 10%;
  margin: 0;
  text-align: center; /* Optionally, if you want to center text inside */
  
}

.contact .info {
  width: 100%;
  text-align: center;
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding-top: 40%;
}

.contact h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: normal;
  color: white;
  text-align: left;
}

.contact h2 span {
  display: inline-block;
  position: relative;
}

.contact h2 span::after {
  content: '';
  position: absolute;
  bottom: -3%;
  left: 0%;
  height: 1rem;
  width: 102%;
  background: var(--blue);
  z-index: -1;
  transition: 0.2s;
}

.contact .info i {
  font-size: 20px;
  color: black;
  float: left;
  width: 44px;
  height: 44px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 0px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: white;
}

.contact .info p {
  padding: 0 0 0 0px;
  margin-bottom: 0;
  font-size: 20px;
  color: white;
}

.contact .social-links {
  margin: 0 0 40px 0;
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #121329;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.contact .social-links a:hover {
  background: transparent;
  color: #fff;
  text-decoration: none;
}

.contact textarea {
  padding: 10px 12px;
}

.contact input[type=submit] {
  background: #49c67b;
  border: 0;
  padding: 10px 35px;
  margin-top: 20px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact input[type=submit]:hover {
  background: #B0FCCE;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background-color: #040412;
  color: white;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
  
}

#footer a {
  color: white;
}

#footer h3 {
  color: white;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

/******NEW STUFF******/
#particles-js {
  width: 100%;
  height: 100%;            
  top: 0;
  left: 0;
  pointer-events: none;
  position: fixed;
  z-index: -2;
}

.count-particles {
  z-index: 0;
}

.navbar {
  padding: 0;
  height: fit-content;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 80%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }

  #background-gradient3 {
    display: none;
  }

  .contact {
    height: 70%;
    padding-bottom: 20%;
  }

  #skills {
    padding: 0;
    margin:0;
  }

  

}


#background-gradient {
  z-index: -2;
  position: absolute;
  bottom: -60vh; /* Adjust this value as needed */
  left: 30vw; /* Adjust this value as needed */
  opacity: 0.5;
}

#background-gradient2 {
  z-index: -2;
  position: absolute;
  bottom: -200vh; /* Adjust this value as needed */
  right: 30vw; /* Adjust this value as needed */
  opacity: 0.5;
}

#background-gradient3 {
  z-index: -2;
  position: absolute;
  bottom: -329vh; /* Adjust this value as needed */
  left: 30vw; /* Adjust this value as needed */
  opacity: 0.5;
}

#background-gradient4 {
  z-index: -2;
  position: absolute;
  bottom: -500vh; /* Adjust this value as needed */
  right: 30vw; /* Adjust this value as needed */
  opacity: 0.5;
}

.gradient-background {
  max-height: 500px;
  overflow-y: hidden;
}